*.DS_Store
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*-blx.bib
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.sbl
*.slg
*.snm
*.sym
*.synctex.gz
*.thm
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
.gitignore
*.tdo
*~*
*.svn
grafiken/*.pdf
grafiken/roh/*.pdf
*.pyc
*.bak
.*
!/.gitignore
*.backup
*Thumbs.db*

dist
cover
build
scikit_gpuppy.egg-info
skgpuppy/UncertaintyPropagation2.html
skgpuppy/UncertaintyPropagation2.so

